* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
html {
  font-size: 62.5%;
}
strong {
  font-weight: 500;
}
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/**HEADER**/

.header {
  display: flex;
  background-color: #fdf2e9;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}

/**MAIN NAV**/

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/**first page**/

.firstpage {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.bir-box {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center;
}
.birsol-baslık {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-weight: 700;
  color: #333;

  letter-spacing: -0.5px;
}
.birsol-metin {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.birsolbutonlar {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.4s;
}
.sol:link,
.sol:visited {
  background-color: #e67e22;
  color: #fff;
}

.sol:hover,
.sol:active {
  background-color: #cf711f;
  color: #555;
}

.sag:link,
.sag:visited {
  background-color: #fff;
  color: #555;
}

.sag:hover,
.sag:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.birsol-musteriler {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.birsol-images {
  display: flex;
}
.birsol-images img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.birsol-images img:last-child {
  margin-right: 0;
}

.birsolmusteriler-sayı {
  font-size: 1.8rem;
  font-weight: 600;
}

.birsolmusteriler-sayı span {
  color: #cf711f;
  font-weight: 700;
}
.birsag-img {
  width: 100%;
}

/**SECOND PAGE**/
.featured-in {
  padding: 4.8rem 0 3.2rem 0;
}
.featured-in-heading {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.secondbox {
  padding: 9.6rem;
}
.secondary-heading {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.sectiontopic {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.gridlineheading {
  font-weight: 700;
  color: #333;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}
.gridlinenumber {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.gridlinetext {
  font-size: 1.8rem;
  line-height: 1.8;
}

.gridfoto {
  width: 35%;
}

.gridimg {
  display: flex;
  position: relative;
  justify-content: center;
}

.gridimg::before,
.gridimg::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gridimg::before {
  width: 60%;
  background-color: #fdf2e9;
  z-index: -2;
  padding-bottom: 60%;
}
.gridimg::after {
  width: 45%;
  background-color: #fae5d3;
  z-index: -1;
  padding-bottom: 45%;
}

/*MEALS SECTION*/
.thirdpage {
  padding: 9.6rem 0;
}
.thirdbaslık {
  text-align: center;
}
.whatabout {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.recipes5000 {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.thirdgrid {
  display: grid;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.29);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.card:hover {
  transform: translateY(-1.2rem);
}
.cardimage {
  width: 100%;
}
.cardtext {
  padding: 3.2rem 4.8rem;
}
.cardheading {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.cardlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-icon {
  color: #e67e22;
}
.cardlistitem {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.cardtags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: aqua;
  color: #333;
  border-radius: 100px;
}
.tag-vegetarian {
  background-color: #51cf66;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}
.third-list-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.third-list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.third-list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.third-list-header {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.third-bottom {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 5rem;
}

/*TESTIMONIAL SECTION*/

.fourth-main-container {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55% 45%;

  align-items: center;
}
.fourth-leftpart {
  padding: 9.6rem;
}
.fourth-comment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
.comment-part {
  margin-bottom: 3.6rem;
}
.comment-photos {
  border-radius: 50%;
  width: 7rem;
}
.testimonials-comment {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
}
.testimonial-people {
  font-size: 1.4rem;
}
.fourth-rightpart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  padding-right: 1.6rem;
}
.fourth-gallery-pic {
  overflow: hidden;
}
.fourth-gallery-pic img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.fourth-gallery-pic img:hover {
  transform: scale(1.1);
}

/*pricing and features section*/
.fifth-page {
  padding: 9.6rem 0;
}
.fifthpart-heading {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.fifth-heading-sentence {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.fifth-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 19rem;
  gap: 6rem;
}
.fifth-grid-left,
.fifth-grid-right {
  border: 2px solid #fdf2e9;
  border-radius: 2rem;
  padding: 4.6rem;
  text-align: center;
}
.fifth-grid-right {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}
.fifth-grid-right::after {
  content: "Best value";
  position: absolute;
  top: 3rem;
  right: -8rem;
  text-transform: uppercase;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  transform: rotate(45deg);
}
.subscription-type {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
  text-align: center;
}
.subscription-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
  text-align: center;
}
.subscription-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.subscription-price-per-meal {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
  text-align: center;
  margin-bottom: 4.8rem;
}
.fifth-grid-left a,
.fifth-grid-right a {
  margin-top: 4.8rem;
  padding: 2.4rem 4.8rem;
}
.fifth-transition {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin: 5.6rem 0;
}
.fifth-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
  padding: 0 6.4rem;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  box-sizing: content-box !important;
}
.feature-header {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/**CTA Section**/

.cta-container {
  margin: 8rem 7rem;

  background-color: #e67e22;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  overflow: hidden;
}
.cta-text {
  padding: 5rem;
}
.cta-header {
  font-size: 4.4rem;
  line-height: 1.2;

  letter-spacing: -0.5px;
  font-weight: 700;
  color: #45260a;
}
.cta-text-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  color: #45260a;
}
.cta-img-img {
  width: 100%;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  column-gap: 4rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.sign-up-cta {
  width: 100%;
  align-self: end;
}
.sign-up-cta .birsolbutonlar {
  background-color: #45260a;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #45260a;
}
.cta-form input::placeholder {
  color: #aaa;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.footer-box {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.footer-grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
